# Assignment on if condition's:

Question	A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade

In [3]:
#solution:

mark = int(input("Enter your mark:"))

if (mark>80):
    print("Your grade is A")
elif (mark>60 and mark<=80): 
    print("Your grade is B")
elif (mark>50 and mark<=60):
    print("Your grade is C")
elif (mark>45 and mark<=50):
    print("Your grade is D")
elif (mark>25 and mark<=45):
    print("Your grade is E")
else:
    print("Your grade is F")

Enter your mark:45
Your grade is E

Question:	A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

In [ ]:
#solution

quantity= int(input("Enter your ordering quantity:"))
unit_cost=100
total_cost=quantity*unit_cost
if (total_cost>1000):
    print("Total cost is :",total_cost-(10/100*total_cost),"Discont of 10% applied")
else:
    print("Total cost is :",total_cost)

Question: Write a program to print absolute value of a number entered by user. E.g.-
INPUT: 1        OUTPUT: 1
INPUT: -1        OUTPUT: 1

In [ ]:
#solution:

INPUT=abs(1)
print("OUTPUT:",INPUT)


INPUT=abs(-1)
print("OUTPUT:",INPUT)

Question: Write a Python program that accepts a string and calculate the number of digits and letters.
Sample Data : Python 3.2
Expected Output :
Letters 6
Digits 2

In [ ]:
#solution:
sample_data= input("Input a string")
d=l=0
for c in sample_data:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

question:Write a Python program to check whether an alphabet is a vowel or consonant. 
Expected Output:
Input a letter of the alphabet: k                                       
k is a consonant.

In [ ]:
#solution:
l = input("Input a letter of the alphabet: ")

if l in ('a', 'e', 'i', 'o', 'u'):
	print("The alphabet is a vowel:" , l)

else:
	print("The alphabet is a consonant:" , l)

question: Write a Python program to check a triangle is equilateral, isosceles or scalene. Go to the editor
Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.
Expected Output:
Input lengths of the triangle sides:                                    
x: 6                                                                    
y: 8                                                                    
z: 12                                                                   
Scalene triangle

In [ ]:
#solution:

print("Input lengths of the triangle sides: ")
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
	print("Equilateral triangle")
elif x==y or y==z or z==x:
	print("isosceles triangle")
else:
	print("Scalene triangle")

Question:Write an If elif else condition for finding the largest number in 3 numbers.

In [ ]:
num1 = 10
num2 = 50
num3 = 30

if (num1 >= num2) and (num1 >= num3):
    print("The largest number is",num1)   
elif (num2 >= num1) and (num2 >= num3):
    print("The largest number is",num2)  
else:
   print("The largest number is",num3)

# Assignment on Loops(while,for & instead)

Question	Using while loop accept numbers until the sum of number is less than 100.

In [ ]:
#solution:

a = 1; 
sum = 0; 
 
while(a < 100): 
  sum = sum + a; 
  a = a + 1;
print(sum)

question 	Take 10 integers from keyboard using loop and print their average value on the screen.

In [ ]:
s = 0
count = 0

while True:
    num = int(input('Write a number: '))
    if num == 0:
        break
    s += num
    count += 1
    print("Average so far:",(s/count))

Question	Print the following patterns using loop :
a.
*
**
***
****
b.
   *  
 *** 
*****
 *** 
   *  
c.
1010101
 10101 
  101  
   1

In [ ]:
#4a

rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

In [ ]:
#4b


rows = 2
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

In [ ]:
#4c
rows = 7
b = 0
for i in range(rows, 0, -2):
    b +=1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

Question:  Print multiplication table of given number
     For example num = 2 so the output should be

In [ ]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 13):
   print(num,"X",i,"=",num * i)

question: Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [ ]:
#solution:
    
    list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for item in list1:
    if item > 150:
        break
    elif item % 5 == 0:
        print(item)

Question: Given a number count the total number of digits in a number
 For example, the number is 75869, so the output should be 5.

In [ ]:
num=75869
count=0
while(num>0):
    count=count+1
    num=num//10
print("The number of digits in the number are:",count

Question: Display -10 to -1 using for loop

In [ ]:
#solution:

for i in range(-10,0,1):
    print(i)

Question: Display a message “Done” after successful execution of for loop
  For example, the following loop will execute without any error.

In [ ]:

for i in range(5):
    print(i)
    print('\n')
print("Done!")

Question: Print the following pattern using nested for loop
Expected output

In [ ]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

# Assignment on string

1) Which method/inbuilt function should I use to convert String "welcome to the beautiful world of python" to "Welcome To The Beautiful World Of Python".

In [ ]:
str1="welcome to the beautiful world of python"
print(str1.title())


2) Split a given string on hyphens into several substrings
      str1 = Emma-is-a-data-scientist

In [ ]:
str1 = "Emma is a data scientist"
print(str1.split(" "))

3) Remove empty strings from a list of strings
        str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [ ]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

print(str_list)
str_list.pop(2)
str_list.pop(5)
print(str_list)

4) Create an string and execute the following inbuilt functions on it.
        - upper, lower, capitalize, split, join, isnumeric, isalpha, isdigit, count, isalnum.

In [ ]:
city=("pune","hyd","delhi","mumbai","chennai")
print(city[3].upper())

city=("pune","hyd","delhi","mumbai","chennai")
print(city[3].lower())

city=("pune","hyd","delhi","mumbai","chennai")
print(city[3].capitalize())

greeting= "Good Morning Hydrebad"
print(greeting.split())

message = ['Python',  'is',  'a',  'fun',  'programming',  'language']
print(' '.join(message))

message= "Good Morning Nigeria"
print(message.isnumeric())

message= "Good Morning Nigeria"
print(message.isalpha())

message= "Good Morning Nigeria"
print(message.isdigit())

prog_lang=["python","java","aws","java","python","python","java","hadoop"]
print(prog_lang.count("python"))

message= "Good Morning Nigeria"
print(message.isalnum())

7) Find all occurrences of “USA” in given string ignoring the case
str1 = "Welcome to USA. usa awesome, isn't it?"

In [ ]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"

t_str = str1.lower()

count = t_str.count(sub_string.lower())
print("The USA count is:", count)

# Assignment on List DataType:

2) Create an list of elements and execute the following functions: reverse, append, extend, count,sort.

list1=[23,45,78,48,66,92,80]
list1.reverse()
print(list1)


list1=[23,45,78,48,66,92,80]
list1.append(100)
print(list1)

ist1=[23,45,78,48,66,92,80]
list2=[10,20,30]
list1.extend(list2)
print(list1)


list1=[23,45,78,48,66,92,80,45]
print(list1.count(45))


list1=[23,45,78,48,66,92,80,45]
list1.sort()
print(list1)

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
sample_list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
sample_list.pop(0)
sample_list.remove("Pink")
sample_list.pop(3)
print(sample_list)

4) What is the output of the following list operation
        aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]

[10, 20, 30, 40]

[40, 50, 60, 70, 80]

6) Create an list of elements and slice & dice it.

In [ ]:
list1=[23,45,78,48,66,92,80,45]
print(list1[3:5:2])

7) Given a Python list you should be able to display Python list in the following order
       
       aLsit = [100, 200, 300, 400, 500]

In [ ]:

list=[100,200,300,400,500]
list.sort(reverse=True)
print(list)

8) What will be the output of the following code snippet?
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

9) Add item 7000 after 6000 in the following Python List
     
    list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
sub_list=list1[2]    
sub_lista=sub_list[2]
sub_lista.append(7000)
print(list1)

# Assignment on tuple

2) Access value 20 from the following tuple
       aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

3) Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
Expected output:
aTuple = (10, 20, 30, 40)
# Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

In [ ]:
aTuple = (10, 20, 30, 40)
for i in aTuple:
    
    print("should print",i)

4) Copy element 44 and 55 from the following tuple into a new tuple
       tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2 = (44, 55)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3:5]
print(tuple2)

5) Counts the number of occurrences of item 50 from a tuple
              tuple1 = (50, 10, 60, 70, 50)

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))


6) Modify the first item (22) of a list inside a following tuple to 222
        tuple1 = (11, [22, 33], 44, 55)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
tuple2=tuple1[1]
tuple2[0]=222
print(tuple1)

7) Swap the following two tuples
         tuple1 = (11, 22)
tuple2 = (99, 88)

Tuple cannot be swaped

8) Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)

Tuples are immutable

# Assignment on DateTime

1) Write a Python program to get the current time in Python. 
Sample Format :  13:19:49.078205

In [ ]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

2) Write a Python program to subtract five days from current date. 
Sample Date :
Current Date : 2015-06-22
5 days before Current Date : 2015-06-17

In [ ]:
import datetime
now=datetime.datetime.now()
days=datetime.timedelta(5)
new_date=now-days
print(new_date)

3) Write a Python script to display the various Date Time formats.
a) Current date and time
b) Current year
c) Month of year
d) Week number of the year
e) Weekday of the week
f) Day of year
g) Day of the month
h) Day of week

In [ ]:
import calendar
import datetime
month = datetime.date.today().month
year = datetime.date.today().year
print (calendar.month(year,month))

In [ ]:
import datetime
print(datetime.date(2021, 11, 19).isocalendar()[1])

In [ ]:
import datetime
from datetime import date
import calendar
 
def findDay(date):
    day, month, year = (int(i) for i in date.split(' '))   
    born = datetime.date(year, month, day)
    return born.strftime("%A")

date = '19 11 2021'
print(findDay(date))

In [ ]:
import datetime
today = datetime.datetime.now()
day_of_year = (today - datetime.datetime(today.year, 1, 1)).days + 1
print(day_of_year)

In [ ]:
from calendar import monthrange
year = 2021
month = 11
print(monthrange(year, month))

In [ ]:
import datetime

week_days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
week_num=datetime.date(2020,7,24).weekday()
print(week_days[week_num])

4) Write a Python program to convert a string to datetime. 

Sample String : Jan 1 2014 2:43PM
Expected Output : 2014-07-01 14:43:00

In [ ]:

from datetime import datetime
date_object = datetime.strptime('Jan 1 2014 2:43PM', '%b %d %Y %I:%M%p')
print(date_object)

5) Write a Python program to print yesterday, today, tomorrow

In [ ]:
import datetime 
today = datetime.date.today()
yesterday = today - datetime.timedelta(days = 1)
tomorrow = today + datetime.timedelta(days = 1) 
print('Yesterday : ',yesterday)
print('Today : ',today)
print('Tomorrow : ',tomorrow)

6) Write a Python program to add 5 seconds with the current time

In [ ]:
import datetime
x= datetime.datetime.now()
y = x + datetime.timedelta(0,5)
print(x.time())
print(y.time())

Write a Python program to get week number. 
Sample Date : 2015, 6, 16
Expected Output : 25

In [ ]:
import datetime
    datetime.date(2015, 6, 16).isocalendar()[1]

8) Write a Python program to drop microseconds from datetime

In [ ]:
import datetime
dt = datetime.datetime.today().replace(microsecond=0)
print()
print(dt)
print()

9) Write a Python program to get days between two dates. 
Sample Dates : 2000,2,28, 2001,2,28
Expected Output : 366 days, 0:00:00

In [ ]:
from datetime import date
f_date = date(2000, 2, 28)
l_date = date(2001, 2, 28)
delta = l_date - f_date
print(delta.days,"days,0:00:00")

Write a Python program to get the number of days of a given month and year.

In [ ]:
from calendar import monthrange
year = 2021
month = 11
print(monthrange(year, month))

# Assignment on Dictionary

1) Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

2) Write a Python script to add a key to a dictionary. Go to the editor
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
sample_dictionary = {0:10, 1:20}
print(sample_dictionary)
sample_dictionary.update({2:30})
print(sample_dictionary)

3) Write a Python script to merge two Python dictionaries.

In [ ]:
dict1 = {'d': 100, 'f': 200}
dict2 = {'x': 300, 'y': 200}
d = dict1.copy()
d.update(dict2)
print(d)

4) Write a Python program to sum all the items in a dictionary

In [ ]:
my_dict = {'data1':150,'data2':48,'data3':657}
print(sum(my_dict.values()))

5) Write a Python program to combine two dictionary adding values for common keys. 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

7) Write a Python program to count number of items in a dictionary value that is a list.

In [ ]:
7.dict =  {'Akin': ['subj1', 'subj2', 'subj3'], 'Daniel': ['subj1', 'subj2']}
ctr = sum(map(len, dict.values()))
print(ctr)

# Assignment on Defined Function's

Python function to sum all the numbers in a list. 
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [ ]:

def sum(numbers):
    total = 0
    for i in numbers:
        total += i
    return total
print(sum((8, 2, 3, 0, 7)))

2) Write a Python function to multiply all the numbers in a list. 
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336

In [ ]:

def multiply(numbers):  
    total = 1
    for i in numbers:
        total *= i  
    return total  
print(multiply((8, 2, 3, -1, 7)))

3) Write a Python function to check whether a number is in a given range

In [ ]:
def test_range(n):
    if n in range(2,11):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(3)

4) Write a Python function that takes a list and returns a new list with unique elements of the first list.
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(l):
  a = []
  for i in l:
    if i not in a:
      a.append(i)
  return a

print(unique_list([1,2,3,3,3,3,4,5]))

5) Write a Python function that takes a number as a parameter and check the number is prime or not.
Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [ ]:

def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(5))

6) Write a Python program to print the even numbers from a given list.

In [ ]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

7) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Write a Python function to check whether a number is perfect or not. Go to the editor
According to Wikipedia : In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is a number that is half the sum of all of its positive divisors (including itself).
Example : The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.

In [ ]:

def perfect_number(n):
    sum = 0
    for a in range(1, n):
        if n % a == 0:
            sum += a
    return sum == n
print(perfect_number(6))



9) Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [ ]:
sqr_list = [] 
for a in range(1,31): 
  sqr_list.append(a*a) 
 
print(*sqr_list)

# Assignment on Lambda Functions

Write a Python program to sort a list of tuples using Lambda.
         subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)

In [ ]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

2) Write a Python program to square and cube every number in a given list of integers using Lambda.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nSquare every number of the said list:")
square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)
print("\nCube every number of the said list:")
cube_nums = list(map(lambda x: x ** 3, nums))
print(cube_nums)

3) Write a Python program to add two given lists using map and lambda

In [ ]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
print("Original list:")
print(nums1)
print(nums2)
result = map(lambda x, y: x + y, nums1, nums2)
print("\nResult: after adding two list")
print(list(result))

4) Write an python program to filter all the elements in the list that are divisible by 13.
         my_list = [12, 65, 54, 39, 102,  339, 221, 50, 70]

In [ ]:
my_list=[12,65,54,39,102,339,221,50,70]
result=list(filter(lambda x:x%13==0,my_list))
print(result)

5) Write a Python program that multiply each number of given list with a given number using lambda function. Print the result.

In [ ]:
nums = [3, 7, 11, 15 , 19]
n = 2
print("Original list: ", nums)
print("Given number: ", n)
filtered_numbers=list(map(lambda number:number*n,nums))
print("Result:")
print(' '.join(map(str,filtered_numbers)))

# Assignment on Global and Local functions

1) Create a defined function with variable outside of a function, and use it inside the function

In [ ]:
a = "lovely"

def display():
  print("Python is " + a)

display()

2) Create a defined function with variable inside a function, with the same name as the global variable.

In [ ]:
a = "lovely"

def display():
  a = "fantastic"
  print("Python is " + a)

display()

print("Python is " + a)

3) Create an defined function where Global variable and Local variable with same name.

In [ ]:
a = "lovely"

def display():
  global a
  a = "fantabulous"

display()

print("Python is " + a)

# Assignment on Files

Read and append content on files in Python 
Take one file and read the contents on that file.

In [ ]:
# entering the file names
file1 = input("Enter the name of first file ")
file2 = input("Enter the name of second file ")

# opening both files in read only mode to read initial contents
f1 = open(file1, 'r')
f2 = open(file2, 'r')
# printing the contens of the file before appending
print('content of file1 before appending -', f1.read())
print('content of file2 before appending -', f2.read())

# closing the files
f1.close()
f2.close()

# opening first file in append mode and second file in read mode
f1 = open(file1, 'a+')
f2 = open(file2, 'r')

# appending the contents of the second file to the first file
f1.write(f2.read())

# relocating the cursor of the files at the beginning
f1.seek(0)
f2.seek(0)

# printing the contents of the files after appendng
print('content of first file after appending -', f1.read())
print('content of second file after appending -', f2.read())

# closing the files
f1.close()
f2.close()

# Assignment on OOP Prog

Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

x1 = Person("lizzy", 19)

print(x1.name)
print(x1.age)

Create clock class that containt Hr min sec. Accept the value and display it.

In [ ]:

import datetime

def convert(n):
	return str(datetime.timedelta(seconds = n))
	
n = int(input("Enter the value of n="))
print(convert(n))

# Assignment on Exception Handling

Program to print the reciprocal of even numbers

In [ ]:
num = int(input("Enter a number: "))

try:
    assert num % 2 == 0
    reciprocal = 1/num
    print(reciprocal)

except ZeroDivisionError:
    print(err)

except:
    print("Not an even number!")

# Assignment on Regular Expression

Make a search that returns no match

In [ ]:
import re

txt = "The snow in america"
x = re.search("india", txt)
print(x)

Program to sort alphabetically the words form a string provided by the user

In [ ]:
# Program to sort alphabetically the words form a string provided by the user

str_user = input("Enter a string: ")

words = [word.lower() for word in str_user.split()]

words.sort()

print("The sorted words are:")
for word in words:
   print(word)

# Assignment on Tkinter

Create Button that contain two option Quit and Hello using tkinter.

In [ ]:
import tkinter as tk   

def write_text():
    print("Tkinter is easy to code!")

parent = tk.Tk()
frame = tk.Frame(parent)
frame.pack()

text_disp= tk.Button(frame, 
                   text="Hello", 
                   command=write_text
                   )

text_disp.pack(side=tk.LEFT)

exit_button = tk.Button(frame,
                   text="Quit",
                   fg="green",
                   command=quit)
exit_button.pack(side=tk.RIGHT)

parent.mainloop()

File -->New , Open , Exit 

Help

In [ ]:
from tkinter import Tk, Frame, Menu


# root window
root = Tk()
root.geometry('320x150')
root.title('Menu Demo')


# create a menubar
menubar = Menu(root)
root.config(menu=menubar)

# create the file_menu
file_menu = Menu(
    menubar,
    tearoff=0
)

# add menu items to the File menu
file_menu.add_command(label='New')
file_menu.add_command(label='Open...')
file_menu.add_command(label='Close')
file_menu.add_separator()

# add Exit menu item
file_menu.add_command(
    label='Exit',
    command=root.destroy
)

# add the File menu to the menubar
menubar.add_cascade(
    label="File",
    menu=file_menu
)
# create the Help menu
help_menu = Menu(
    menubar,
    tearoff=0
)

help_menu.add_command(label='Welcome')
help_menu.add_command(label='About...')

# add the Help menu to the menubar
menubar.add_cascade(
    label="Help",
    menu=help_menu
)

root.mainloop()

Create GUI for loan calculater. With necessory fields.

In [12]:
def __init__(self):
	# Create a window
	window = Tk()
	window.title("Loan Calculator") # Set title

	# create the input boxes.
	Label(window, text = "Annual Interest Rate").grid(row = 1,
									column = 1, sticky = W)
	Label(window, text = "Number of Years").grid(row = 2,
								column = 1, sticky = W)
	Label(window, text = "Loan Amount").grid(row = 3,
							column = 1, sticky = W)
	Label(window, text = "Monthly Payment").grid(row = 4,
								column = 1, sticky = W)
	Label(window, text = "Total Payment").grid(row = 5,
								column = 1, sticky = W)

	# for taking inputs
	self.annualInterestRateVar = StringVar()
	Entry(window, textvariable = self.annualInterestRateVar,
				justify = RIGHT).grid(row = 1, column = 2)

	self.numberOfYearsVar = StringVar()
	Entry(window, textvariable = self.numberOfYearsVar,
			justify = RIGHT).grid(row = 2, column = 2)

	self.loanAmountVar = StringVar()
	Entry(window, textvariable = self.loanAmountVar,
		justify = RIGHT).grid(row = 3, column = 2)

	self.monthlyPaymentVar = StringVar()
	lblMonthlyPayment = Label(window, textvariable =
				self.monthlyPaymentVar).grid(row = 4,
				column = 2, sticky = E)

	self.totalPaymentVar = StringVar()
	lblTotalPayment = Label(window, textvariable =
				self.totalPaymentVar).grid(row = 5,
				column = 2, sticky = E)
	
	# create the button
	btComputePayment = Button(window, text = "Compute Payment",
						command = self.computePayment).grid(
							row = 6, column = 2, sticky = E)
	# Create an event loop
	window.mainloop()

In [13]:
def computePayment(self):
	# compute the total payment.
	monthlyPayment = self.getMonthlyPayment(float(self.loanAmountVar.get()),
					float(self.annualInterestRateVar.get()) / 1200,
					int(self.numberOfYearsVar.get()))

	self.monthlyPaymentVar.set(format(monthlyPayment, '10.2f'))
	totalPayment = float(self.monthlyPaymentVar.get()) * 12 \
						* int(self.numberOfYearsVar.get())
	self.totalPaymentVar.set(format(totalPayment, '10.2f'))

# compute the monthly payment.
def getMonthlyPayment(self, loanAmount, monthlyInterestRate, numberOfYears):
	monthlyPayment = loanAmount * monthlyInterestRate/(1- 1 / (1 + monthlyInterestRate) **(numberOfYears * 12))


	return monthlyPayment;

In [14]:
# Import tkinter
from tkinter import *
class LoanCalculator:

	def __init__(self):

		window = Tk() # Create a window
		window.title("Loan Calculator") # Set title
		# create the input boxes.
		Label(window, text = "Annual Interest Rate").grid(row = 1,
										column = 1, sticky = W)
		Label(window, text = "Number of Years").grid(row = 2,
									column = 1, sticky = W)
		Label(window, text = "Loan Amount").grid(row = 3,
								column = 1, sticky = W)
		Label(window, text = "Monthly Payment").grid(row = 4,
									column = 1, sticky = W)
		Label(window, text = "Total Payment").grid(row = 5,
									column = 1, sticky = W)

		# for taking inputs
		self.annualInterestRateVar = StringVar()
		Entry(window, textvariable = self.annualInterestRateVar,
					justify = RIGHT).grid(row = 1, column = 2)
		self.numberOfYearsVar = StringVar()

		Entry(window, textvariable = self.numberOfYearsVar,
				justify = RIGHT).grid(row = 2, column = 2)
		self.loanAmountVar = StringVar()

		Entry(window, textvariable = self.loanAmountVar,
			justify = RIGHT).grid(row = 3, column = 2)
		self.monthlyPaymentVar = StringVar()
		lblMonthlyPayment = Label(window, textvariable =
						self.monthlyPaymentVar).grid(row = 4,
						column = 2, sticky = E)

		self.totalPaymentVar = StringVar()
		lblTotalPayment = Label(window, textvariable =
					self.totalPaymentVar).grid(row = 5,
					column = 2, sticky = E)
		
		# create the button
		btComputePayment = Button(window, text = "Compute Payment",
								command = self.computePayment).grid(
								row = 6, column = 2, sticky = E)
		window.mainloop() # Create an event loop


	# compute the total payment.
	def computePayment(self):
				
		monthlyPayment = self.getMonthlyPayment(
		float(self.loanAmountVar.get()),
		float(self.annualInterestRateVar.get()) / 1200,
		int(self.numberOfYearsVar.get()))

		self.monthlyPaymentVar.set(format(monthlyPayment, '10.2f'))
		totalPayment = float(self.monthlyPaymentVar.get()) * 12 \
								* int(self.numberOfYearsVar.get())

		self.totalPaymentVar.set(format(totalPayment, '10.2f'))

	def getMonthlyPayment(self, loanAmount, monthlyInterestRate, numberOfYears):
		# compute the monthly payment.
		monthlyPayment = loanAmount * monthlyInterestRate / (1
		- 1 / (1 + monthlyInterestRate) ** (numberOfYears * 12))
		return monthlyPayment;
		root = Tk() # create the widget

# call the class to run the program.
LoanCalculator()

# Assignment on pandas

In [36]:
import pandas as pd

In [37]:
data=pd.read_csv("/Users/battygroup/Desktop/Automobile_data.csv")

1) From given data set print first and last five rows

In [10]:
#TO print the first five row 
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [11]:
#TO print the last five row 
data.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [38]:
# Print All Toyota Cars details (hint: use groupby function)
car_type = data.groupby('company')
toyotadata = car_type.get_group('toyota')
toyotadata

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [31]:
#Count total cars per company (by using value_counts function)

data["company"].value_counts()

mercedes-benz    1
Name: company, dtype: int64

In [20]:
#Find each company’s Higesht price car. (hint: Groupby function and then apply .max function)


data = data [['company','price']][data.price==data['price'].max()]
data

          company    price
35  mercedes-benz  45400.0

In [39]:
#Find the average mileage of each car making company (hint: Groupby function and then apply .mean function)
mileage=data.groupby('company')[['company','average-mileage']].mean()
mileage

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000

In [44]:
#6) Sort all cars by Price column (hint: using sort_values function).


data.groupby('company')['company','price'].max()

<ipython-input-44-959b8f61a2d3>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('company')['company','price'].max()

                     company    price
company
alfa-romero      alfa-romero  16500.0
audi                    audi  18920.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge   6377.0
honda                  honda  12945.0
isuzu                  isuzu   6785.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mitsubishi        mitsubishi   8189.0
nissan                nissan  13499.0
porsche              porsche  37028.0
toyota                toyota  15750.0
volkswagen        volkswagen   9995.0
volvo                  volvo  13415.0

In [45]:
#Check for the null values for entire dataset.
data.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

# Assignment on Numpy

1) Create a 4X2 integer array and Prints its attributes
     Attributes like:
a)	The shape of an array.
b)	Array dimensions.
c)	The Length of each element of the array in bytes.

In [ ]:
import numpy

In [ ]:
firstArray = numpy.empty([4,2], dtype = numpy.uint16) 
print("Printing Array")
print(firstArray)

print("Printing numpy array Attributes")
print("1> Array Shape is: ", firstArray.shape)
print("2>. Array dimensions are ", firstArray.ndim)
print("3>. Length of each element of array in bytes is ", firstArray.itemsize)

Create a 5X2 integer array from a range between 100 to 200 such that the difference between each element is 10

In [ ]:
import numpy

print("Creating 5X2 array using numpy.arange")
sampleArray = numpy.arange(100, 200, 10)
sampleArray = sampleArray.reshape(5,2)
print (sampleArray)

3) Add the following two NumPy arrays
import numpy

arrayOne = numpy.array([[5, 6, 9], [21 ,18, 27]])
arrayTwo = numpy.array([[15 ,33, 24], [4 ,7, 1]])

In [ ]:
import numpy

arrayOne = numpy.array([[5, 6, 9], [21 ,18, 27]])
arrayTwo = numpy.array([[15 ,33, 24], [4 ,7, 1]])

resultArray  = arrayOne + arrayTwo
print("addition of two arrays is \n")
print(resultArray)

4) Create an 8X3 integer array from a range between 10 to 34 such that the difference between each element is 1 and then Split the array into four equal-sized sub-arrays.
Expected Output:
Creating 8X3 array using numpy.arange
[[10 11 12]
 [13 14 15]
 [16 17 18]
 [19 20 21]
 [22 23 24]
 [25 26 27]
 [28 29 30]
 [31 32 33]]

Dividing 8X3 array into 4 sub array

[array([[10, 11, 12],[13, 14, 15]]), 
array([[16, 17, 18],[19, 20, 21]]), 
array([[22, 23, 24],[25, 26, 27]]), 
array([[28, 29, 30],[31, 32, 33]])]

In [ ]:
import numpy

print("Creating 8X3 array using numpy.arange")
sampleArray = numpy.arange(10, 34, 1)
sampleArray = sampleArray.reshape(8,3)
print (sampleArray)

print("\nDividing 8X3 array into 4 sub array\n")
subArrays = numpy.split(sampleArray, 4) 
print(subArrays)

5) Write a NumPy program to generate six random integers between 10 and 30. 
Expected Output:
[20 28 27 17 28 29]

In [ ]:
import numpy as np
a = np.random.randint(low=10, high=30, size=6)
print(a)

6) Write a NumPy program to generate five random numbers from the normal distribution. 
Expected Output:
[-0.43262625 -1.10836787 1.80791413 0.69287463 -0.53742101]

In [ ]:
import numpy as np
b = np.random.normal(size=5)
print(b)

7) Write a NumPy program to create a 3x3x3 array with random values.

In [ ]:
import numpy as np
x = np.random.random((3,3,3))
print(x)

8) Write a NumPy program to normalize a 3x3 random matrix.

In [ ]:
import numpy as np
x= np.random.random((3,3))
print("Original Array:")
print(x)
xmax, xmin = x.max(), x.min()
x = (x - xmin)/(xmax - xmin)
print("After normalization:")
print(x)

9) Write a NumPy program to shuffle numbers between 0 and 10 (inclusive).

In [ ]:
import numpy as np
x = np.arange(10)
np.random.shuffle(x)
print(x)
print("Same result using permutation():")
print(np.random.permutation(10))

10) Write a NumPy program to create a 5x5 array with random values and find the minimum and maximum values

In [ ]:
import numpy as np
x = np.random.random((5,5))
print("Original Array:")
print(x) 
xmin, xmax = x.min(), x.max()
print("Minimum and Maximum Values:")
print(xmin, xmax)